[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"

[dev-packages]
sphinx = "*"
tox = "*"
pylint = "*"
pytest = "*"
build = "*"
twine = "*"
sphinx-autodoc-typehints = "*"
setuptools = "*"
sphinx-rtd-theme = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.13"
